@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 96px;
  padding-right: 96px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* mx-auto w-full max-w-screen-xl px-[96px] flex justify-between items-center */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}
html body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.transform-out {
  transition: transform 2s ease, opacity 3s ease;
  opacity: 0;
}

.transform-out.t-right {
  transform: translateX(100vw);
}

.transform-out.t-left {
  transform: translateX(-100vw);
}

.transform-out.show {
  transform: translateX(0);
  opacity: 1;
}

.service-area {
  transition: transform 1s ease, opacity 1s ease;
  transform: scale(0.5);
  opacity: 0;
}
.service-area.show {
  transform: scale(1);
  opacity: 1;
}


.menu-mobile--lines--area {
  display: none;
  flex-direction: column;
  width: 44px;
  height: 50px;
  right: 20px;
  top: 30px;
}
.menu-mobile--lines {
  transition: all ease 0.2s;
  width: 44px;
  height: 6px;
  margin-bottom: 11px;
}
.menu-mobile {
  display: none;
}

.menu-faketrigger {
  display: none;
  width: 44px;
  height: 50px;
  right: 20px;
  top: 30px;
}

.winker-image {
  width: 80vw;
  height: auto;
}
.x-button {
  width: 2vw;
  height: auto;
}
.botoes-winker {
  bottom: 2vw;
  right: 1.5vw;
}
.saiba-mais, .acesse-plataforma {
 font-size: 1.5vw;
 padding: 1vw 2vw;
}

.botoes-winker {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7), 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1700px) {
  .fotoNeusa {
    top: 150px;
    right: 270px;
  }
}
@media (max-width: 1550px) {
  .fotoNeusa {
    right: 210px;
  }
}
@media (max-width: 1450px) {
  .fotoNeusa {
    right: 120px;
  }
}
@media (max-width: 1275px) {
  .fotoNeusa {
    right: 40px;
  }
}

@media (min-width: 1232px) {
  .menu-mobile {
    display: none;
  }
}

@media (max-width: 1231px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .menu-faketrigger:checked ~ .menu-mobile--lines--area span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.18);
  }
  .menu-faketrigger:checked ~ .menu-mobile--lines--area span:nth-child(2) {
    opacity: 0;
  }
  .menu-faketrigger:checked ~ .menu-mobile--lines--area span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.18);
  }

  .menu-faketrigger:checked ~ .menu-mobile {
    display: flex;
    flex-direction: column;
  }
  .background-banner {
    background-position: -420px;
    background-size: 2400px;
    height: 1000px;
  }
  /* MENU HAMBURGER */
  .menu-default--area {
    display: none;
  }
  .logo-header {
    margin-top: 20px;
    width: 250px;
  }

  .menu-faketrigger {
    display: block;
    scale: 1.6;
    top: 50px;
    right: 80px;
  }

  .menu-mobile--lines--area {
    display: flex;
    scale: 1.6;
    top: 50px;
    right: 80px;
  }
  .menu-mobile--items a li,
  .winker-button {
    padding: 20px;
    font-size: 20px;
  }
  .menu-mobile {
    padding: 40px;
  }
  .company-subtitle {
    font-size: 55px;
    width: 600px;
  }
  .company-description {
    font-size: 35px;
  }
  .fotoNeusa {
    width: 450px;
    top: 120px;
  }
  .quadrados-background {
    top: 110px;
    margin-bottom: 270px;
  }
}

@media (max-width: 1000px) {
  .background-banner {
    background-position: -350px;
    background-size: 1800px;
    height: 800px;
  }
  .fotoNeusa {
    width: 450px;
    top: 150px;
    transform: translateX(10%);
  }
  .company-subtitle {
    font-size: 50px;
    margin-top: 0px;
    width: 450px;
  }
  .company-description {
    font-size: 25px;
    margin-top: 20px;
  }
  .quadrados-background {
    top: 130px;
    margin-bottom: 240px;
    height: 240px;
  }
  .area-quadrados {
    justify-content: space-evenly;
  }
  .quadrado {
    top: 30px;
    scale: 0.9;
    padding: 5px;
    & div h1 {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 5px;
    }
    & div p {
      font-size: 18px;
      line-height: 25px;
    }
  }
  #about-us {
    padding-bottom: 70px;
  }
  #about-us h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  #about-us div div img {
    width: 50%;
  }
  #about-us .p-about {
    font-size: 18px;
    margin-left: 20px;
    text-align: justify;
  }
  #services {
    height: 900px;
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .title-services {
    font-size: 50px;
  }
  .services-upper {
    margin-bottom: 30px;
  }
  .service-area {
    scale: 0.9;
  }
  .footer {
    justify-content: start;
  }
}

@media (max-width: 785px) {
  .background-banner {
    background-position: -500px;
    background-size: 1800px;
    height: 800px;
  }
  .fotoNeusa {
    width: 350px;
    top: 150px;
  }
  .company-subtitle {
    font-size: 40px;
    margin-top: 0px;
    width: 400px;
  }
  .company-description {
    font-size: 22px;
    margin-top: 20px;
  }
  #about-us p {
    font-size: 16px;
  }
  .footer {
    flex-wrap: wrap;
  }

}

@media (max-width: 675px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .background-banner {
    background-position: -550px;
    background-size: 1500px;
    height: 790px;
  }
  /* MENU HAMBURGER */
  #home {
    margin: 0px;
    height: 100px;
    padding: 0px;
    margin-bottom: 30px;
    & .container {
      align-items: center;
    }
  }
  .logo-header {
    margin: 0;
    width: 200px;
  }

  .menu-faketrigger {
    scale: 1.2;
    right: 20px;
    top: 30px;
  }

  .menu-mobile--lines--area {
    scale: 1.2;
    right: 20px;
    top: 30px;
  }
  .menu-mobile--lines {
    width: 44px;
    height: 6px;
    margin-bottom: 11px;
  }
  .menu-mobile {
    padding: 30px;
  }
  .menu-mobile--items a li {
    padding: 10px;
    font-size: 18px;
  }
  .winker-button {
    padding: 10px;
    font-size: 18px;
  }
  .company-subtitle {
    font-size: 35px;
    width: 350px;
  }
  .company-description {
    display: none;
  }
  .fotoNeusa {
    width: 350px;
    top: 130px;
  }

  .quadrados-background {
    height: 880px;
    top: 340px;
    margin-bottom: 350px;
  }
  .area-quadrados {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .quadrado {
    top: -50px;
    padding: 5px;
    margin-bottom: 20px;
  }
  #about-us h1 {
    font-size: 40px;
  }
  #about-us div div {
    flex-direction: column;
    align-items: center;
  }
  #about-us div div img {
    width: 400px;
  }
  #about-us .p-about {
    margin-left: 0px;
  }
  #about-us p {
    font-size: 18px;
  }
  #about-us p:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  #about-us p:nth-child(2) {
    margin-top: 10px;
  }
  #services {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .title-services {
    font-size: 40px;
  }
  .services-upper {
    margin-bottom: 0px;
  }
  .service-area {
    margin-bottom: 20px;
    width: 180px;
    height: 196px;
  }
  .enlarge-square {
    padding: 6px;
  }
  .enlarge-square img {
    width: 70px;
    margin-bottom: 8px;
  }
  .enlarge-square h1 {
    font-size: 18px;
    line-height: 20px;
  }
  .enlarge-square p {
    font-size: 15px;
  }
  .footer {
    padding: 20px;
  }
  .credits {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .background-banner {
    background-position: -650px;
    background-size: 1500px;
    height: 790px;
  }
  /* MENU HAMBURGER */
  #home {
    margin: 0px;
    height: 100px;
    padding: 0px;
    margin-bottom: 30px;
  }
  .logo-header {
    margin: 0;
    width: 170px;
  }

  .menu-faketrigger {
    scale: 1.2;
    right: 15px;
    top: 30px;
  }

  .menu-mobile--lines--area {
    scale: 1.2;
    right: 15px;
    top: 30px;
  }
  .menu-mobile--lines {
    width: 44px;
    height: 6px;
    margin-bottom: 11px;
  }
  .menu-mobile {
    padding: 30px;
  }
  .menu-mobile--items a li {
    padding: 10px;
    font-size: 18px;
  }
  .winker-button {
    padding: 10px;
    font-size: 18px;
  }
  .company-subtitle {
    font-size: 30px;
    width: 250px;
  }
  .company-description {
    display: none;
  }
  .fotoNeusa {
    width: 300px;
    top: 150px;
    transform: translateX(40%);
    clip-path: inset(0 80px 0 0);
  }
  .quadrados-background {
    height: 750px;
    top: 340px;
    margin-bottom: 350px;
  }
  .area-quadrados {
    flex-direction: column;
    justify-content: space-around;
  }
  .quadrado {
    top: -100px;
    height: 240px;
    width: 246px;
    margin-bottom: 40px;
  }
  .quadrado img {
    margin-top: 20px;
    width: 103px;
    height: auto;
  }
  .quadrado h1 {
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .quadrado p {
    margin-top: 0px;
    font-size: 15px;
    line-height: 20px;
  }
  #about-us {
    height: 670px;
  }
  #about-us h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  #about-us div div {
    flex-direction: column;
  }
  #about-us div div img {
    width: 300px;
  }
  #about-us .p-about {
    margin-left: 0px;
  }
  #about-us p {
    font-size: 16px;
  }
  #about-us p:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  #about-us p:nth-child(2) {
    margin-top: 10px;
  }
  #services {
    height: 3300px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .title-services {
    font-size: 30px;
  }
  .services-upper {
    margin-bottom: 0px;
  }
  .services-upper,
  .services-lower {
    align-items: center;
  }
  .service-area {
    margin-bottom: 20px;
    width: 130px;
    height: 146px;
  }
  .enlarge-square {
    padding: 4px;
  }
  .enlarge-square img {
    width: 50px;
    margin-bottom: 8px;
  }
  .enlarge-square h1 {
    font-size: 15px;
    line-height: 18px;
  }
  .enlarge-square p {
    font-size: 11px;
  }
  .logo-footer {
    width: 250px;
  }
  .footer h1 {
    font-size: 25px;
    line-height: 20px;
  }
  .footer p {
    font-size: 18px;
  }
  .risco-azul1 {
    width: 165px;
    height: 3px;
  }
  .risco-azul2 {
    width: 95px;
    height: 3px;
  }
  .social-icons {
    width: 49px;
    height: 50px;
  }
  #contact {
    margin-bottom: 0px;
    height: 100%;
  }
  .feed-instagram {
    width: 290px;
    height: 500px;
    font-size: 30px;
  }
  .credits {
    font-size: 10px;
  }

  .winker-image {
    width: 68vw;
    & picture img {
      border-radius: 15px;
    }
  }

  .x-button {
    width: 4vw;
    top: 5px;
    right: 5px;
  }
  .botoes-winker {
    justify-content: space-evenly;
    width: 100%;
    bottom: 5vw;
    right: 0;
  }
  .saiba-mais, .acesse-plataforma {
   font-size: 2.5vw;
  }
}
